<h2 style="display: inline-block">My Conferences</h2>
<%= link_to 'New Conference Date', new_conference_date_path, :class => 'btn btn-primary', :style => 'float:right;' %>

<%= render :partial => "conference_dates/conference_date" %>