
<div class="span4">
  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th>Time</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% if conferences.teacher.conference_dates.any? %>
      <% conferences.teacher.conference_dates.each do |c| %>
        <%= render :partial => 'period', :collection => c.time_periods.periods, :locals => {:conference_date => c} %>
      <% end %>
    <% else %>
      <tr rowspan="20">
        <td colspan="2">
          <i>There are no conference times available to schedule.</i>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
