<h2 style="display: inline-block">My Courses</h2>

<<<<<<< HEAD
<<<<<<< HEAD
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Code</th>
    <th>Description</th>
=======
=======
>>>>>>> jimjones
<table class="table table-bordered table-condensed">
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th>Teacher</th>
<<<<<<< HEAD
>>>>>>> jimjones
=======
>>>>>>> jimjones
    <th>First day</th>
    <th>Last day</th>
  </tr>

  <%= render :partial => "course", :collection => mycourses %>
</table>
